.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 50rem;
}

.game-over-title {
    font-size: 4rem;
}

.game-data {
    margin-bottom: 2rem;
}

div {
    text-align: center;
}

button {
    width: 20%;
    border-radius: 5px;
    font-size: 1.7em;
    background-color: #d9dab0;
    border-color: #d9dab0;
    border: 2px solid #d9dab0;
    color: #161d6f;
}

.button:hover {
    background-color: #487e95;
    border-color: #487e95;
    border: 2px solid #d9dab0;
    color: #d9dab0;
}